<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Parking System Main Menu - student view</title>
    <link rel="stylesheet" href="css styles/menu.css">
</head>

<body>
    <div class="container">
        <center>
            <div class="logo">
                <img src="assets/logogreen.png" class="logo-img" alt="DLSU Logo" />
            </div>

                <form method="get" action="/space-availability">
                    <button class="image-btn" type="submit">VIEW FREE SLOTS</button>
                </form>

                <form method="get" action="/profilepage">
                    <button class="image-btn" type="submit">VIEW RESERVED SLOT</button>
                </form>

                <form method="get" action="/ticketDashboard">
                    <button class="image-btn" type="submit">TICKET DASHBOARD</button>
                </form>

                <form method="get" action="/profilepage">
                    <button class="image-btn" type="submit">PROFILE</button>
                </form>

            <div class="login-register">
                <nav>
                    <form method="post" action="/landingPage">
                        <button class="login-button" id="logoutButton" type="submit">Logout</button>
                    </form>
                </nav>

            </div>
        </center>
    </div>

    <script src="js files/main.js"></script>
</body>

</html>