@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@700&display=swap');


body {
    font-family: 'Inter', sans-serif;
    margin: 100px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F4F5F7;
}

.container {
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 16px;
    padding: 40px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    text-align: center;
  }

h1 {
    text-align: center;
    color: #191D23;
    font-size: 24px;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
    display: flex;
    align-items: center; 
}

.input-group label {
    margin-left: 5px; 
    color: #191D23;
    font-weight: bold;
}

input[type="checkbox"] {
    width: auto; 
    height: auto;
    margin-right: 5px; 
}

.input-group select,
.input-group input[type="text"],
.input-group input[type="date"]{
    width: calc(100% - 20px);
    padding: 10px;
    color: #009F4F;
    border-radius: 10px;
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
    outline: none;
    margin-bottom: 5px;
}

.button {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    color: white;
    background-color: #009F4F;
    cursor: pointer;
    transition: background 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }

  .button:hover {
    background-color: #007b3a;
  }

#reservation-details {
    margin-bottom: 20px;
}

#reservation-details p {
    margin-bottom: 5px;
    color: #6b4880;
}

#reservation-details span {
    font-weight: bold;
}

.button-group {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
  }

/* FOR NAVIGATION BAR */
header {
    background-color:#045f01;; 
    color: #ffffff; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo-container {
    flex: 1.5;
    display: flex;
    padding: 20px;
    max-width: 100%;
    height: 100%;
}

.logo-container img {
    width: 200px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #50a135;
}
.selected-seat {
    background-color:#2d7814;
    border: 2px solid #2d7814;
}

